* {
  margin: 0;
  padding: 0;
}

input[type="checkbox"] {
  display: none;
}

.itensCel {
  visibility: hidden;
}

body {
  background: #000;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

.montserratBold {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.montserratBlack {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

.portfolio {
  font-size: 35px;
}

.liMenu {
  font-size: 20px;
  padding: 10px;
}

.liMenu .hrMenu {
  width: 0px;
  height: 4px;
  border: none;

  background: #faff00;
  border-radius: 10px;
  transition: width 1s;
}

.liMenu:hover .hrMenu {
  width: 80%;
}

.titMenu #hrPort {
  width: 80%;
  height: 4px;
  border: none;

  background: #faff00;
  border-radius: 10px;
  transition: width 1s;
}

.titMenu:hover #hrPort {
  width: 100%;
}

.menuBurguer {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  cursor: pointer;
  transition: background-color 2s;
}

.menuBurguer:hover > .burguer {
  background-color: #faff00;
}

.menuBurguer:hover > .minorBurguer {
  background-color: #faff00;
}

.burguer {
  width: 52px;
  height: 4px;
  margin: 5px;

  background: #ffffff;
  border-radius: 10px;
  border: none;
}

.minorBurguer {
  width: 39px;
  height: 4px;
  margin: 5px;

  background: #ffffff;
  border-radius: 10px;
  border: none;
}

.mainSection {
  display: grid;
  grid-template-areas: "leftAside rightAside";
}

.leftAside {
  grid-area: "leftAside";
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  margin-top: 160px;
}

.verticalRow {
  grid-area: verticalRow;
  height: 100px;
  width: 4px;
  border-radius: 10px;
  background: #faff00;
}

.btnContact {
  width: 180px;
  height: 42px;
  background: #000;
  border-radius: 10px;
  color: #fff;
  border-color: #faff00;
  cursor: pointer;
}

.leftAside > h1 {
  margin-top: -110px;
  margin-left: 10px;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 4rem;
}

.leftAside > h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  margin-left: 10px;
}

.btnContact {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: 10px;
  margin-left: 30px;
}

body {
  /* The image used */
  background-image: url("/images/lionFace.png");

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 250px;
  background-position: 450px;
}

.rightAside {
  grid-area: "rightAside";
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
  margin-left: -500px;
}

.rightAside > h1 > span {
  font-weight: 700;
  font-size: 3rem;
}

.rightAside > h1 {
  font-weight: lighter;
  font-size: 2rem;
}

.twooRow {
  display: flex;
}

.twooRow > .yellowHr {
  border: none;
  width: 60px;
  height: 4px;

  background: #faff00;
  border-radius: 5px;
}

.twooRow > .blackHr {
  border: none;
  width: 180px;
  height: 4px;

  background: #313131;
  border-radius: 5px;
}

.rightAside > h2 {
  margin-right: 80px;
}

.rodape {
  display: flex;
  margin-left: 300px;
  margin-top: 100px;
  width: 770px;
  height: 25vh;

  background: rgba(255, 255, 255, 0.15);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.social {
  display: flex;
}

.midias {
  font-size: 12px;
  margin-top: 14px;
  margin-left: 5px;
}

.socialTxt {
  margin-top: 8px;
  margin-left: 20px;
}

.twitter {
  margin-left: 20px;
}

.rightP {
  margin-left: 25px;
  margin-right: 5px;
  text-align: justify;
}

.leftTitle {
  margin-top: 32px;
  margin-left: 15px;
}

.leftP {
  margin-left: 20px;
  text-align: justify;
}

@media (max-width: 1100px) {
  .cabecalho {
    width: 100vw;
  }

  .portfolio {
    font-size: 25px;
  }

  .liMenu {
    font-size: 15px;
  }

  .rodape {
    width: 700px;
    height: 20.4vh;
    margin-top: 130px;
    margin-left: 180px;
  }

  .midias {
    margin-top: 10px;
    font-size: 11px;
  }

  .leftFooter > h3 {
    margin-bottom: 5px;
    margin-top: 25px;
    font-size: 20px;
  }

  .socialTxt {
    font-size: 20px;
    margin-top: 5px;
    margin-left: 20px;
  }

  .twitter {
    margin-bottom: 5px;
    font-size: 20px;
  }

  .rightP {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    text-align: left;
  }

  .leftFooter > p {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    text-align: left;
  }

  .leftAside {
    margin-top: 120px;
    margin-left: 30px;
  }

  .leftAside > h1 {
    margin-top: -86px;
    font-size: 3rem;
  }

  .leftAside > h2 {
    font-size: 1.6rem;
  }

  .btnContact {
    width: 140px;
    height: 30px;
    font-size: 1.2rem;
  }

  .verticalRow {
    height: 80px;
  }

  body {
    background-size: 190px;
    background-position: 335px;
    background-position-y: 60px;
  }
}

/*FALTA CONFIGURAR*/
@media (max-width: 970px) {
  .cabecalho {
    width: 100vw;
  }

  .portfolio {
    font-size: 25px;
  }

  .liMenu {
    font-size: 15px;
  }

  .rodape {
    width: 630px;
    height: 25vh;
    margin-top: 130px;
    margin-left: 130px;
  }

  .midias {
    margin-top: 10px;
    font-size: 10px;
  }

  .leftFooter > h3 {
    margin-bottom: 5px;
    margin-top: 25px;
    font-size: 15px;
  }

  .socialTxt {
    font-size: 15px;
    margin-top: 5px;
    margin-left: 20px;
  }

  .twitter {
    margin-bottom: 5px;
    font-size: 15px;
  }

  .rightP {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    text-align: left;
  }

  .leftFooter > p {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    text-align: left;
  }

  .leftAside {
    margin-top: 120px;
    margin-left: 20px;
  }

  .leftAside > h1 {
    margin-top: -66px;
    font-size: 2.3rem;
  }

  .leftAside > h2 {
    font-size: 1.2rem;
  }

  .btnContact {
    margin-left: 20px;
    width: 120px;
    height: 25px;
    font-size: 0.9rem;
  }

  .verticalRow {
    height: 60px;
  }

  body {
    background-size: 170px;
    background-position: 270px;
    background-position-y: 60px;
  }

  .burguer {
    width: 40px;
    height: 4px;
    margin: 5px;

    background: #ffffff;
    border-radius: 10px;
    border: none;
  }

  .minorBurguer {
    width: 27px;
    height: 4px;
    margin: 5px;

    background: #ffffff;
    border-radius: 10px;
    border: none;
  }
}

@media (max-width: 970px) {
  body {
    background-image: url("/images/BodyGif.gif");

    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px;
    overflow: hidden;
  }

  .rodape {
    visibility: hidden;
  }

  .rightAside {
    visibility: hidden;
  }

  .leftAside {
    position: relative;
    display: flex;
    margin-top: -150px;
    margin-left: 150px;
    width: 500px;
    align-items: center;
  }

  .leftAside > h1 {
    margin-top: -112px;
    font-size: 4rem;
    margin-left: 55px;
  }

  .leftAside > h2 {
    font-size: 2rem;
  }

  .btnContact {
    margin-left: 20px;
    width: 180px;
    height: 30px;
    font-size: 1rem;
  }

  .verticalRow {
    height: 100px;
    margin-right: 350px;
  }

  .mainMenu {
    visibility: hidden;
  }

  .itensCel {
    position: absolute;
    visibility: visible;
    width: 300px;
    height: 100vh;
    margin-top: -345px;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    left: -300px;
    transition: all 1s;
  }

  .menuBurguer {
    visibility: visible;
    position: absolute;
    align-items: flex-start;
    margin-top: 0px;
    top: 10px;
    z-index: 2;
  }

  .montserratBold {
    display: flex;
    flex-direction: column;
  }

  .montserratBold > h1 {
    margin-top: 60px;
  }

  .liMenu {
    padding: 10px 90px;
    margin-top: 20px;
    cursor: pointer;
  }

  .portfolio {
    font-size: 1.5rem;
  }

  input[type="checkbox"]:checked ~ .itensCel {
    transform: translateX(300px);
    -moz-transform: translate(300px);
    transition-delay: 0.5;
  }
}

@media (max-width: 600px) { 

    body {
      background-image: url("/images/BodyGif.gif");
  
      /* Center and scale the image nicely */
      background-repeat: no-repeat;
      background-size: 900px;

      background-position-y: 0px;
      background-position-x: -230px;
      width: 10px;
      overflow: hidden;
    }
  
    .rodape {
      visibility: hidden;
    }
  
    .rightAside {
      visibility: hidden;
    }
  
    .leftAside {
      position: relative;
      display: flex;
      margin-left: -50px;
      width: 500px;
      align-items: center;
    }
  
    .leftAside > h1 {
      margin-top: 90px;
      font-size: 3rem;
      margin-left: 40px;
    }
  
    .leftAside > h2 {
      font-size: 1.5rem;
    }
  
    .btnContact {
      margin-left: 20px;
      width: 160px;
      height: 25px;
      font-size: 1rem;
    }
  
    .verticalRow {
      position: absolute;
      height: 75px;
      left: 120px;
      top: 100px;
    }
  
    .mainMenu {
      visibility: hidden;
    }
  
    .itensCel {
      position: absolute;
      visibility: visible;
      width: 300px;
      height: 100vh;
      margin-top: -345px;
      background: rgba(0, 0, 0, 0.7);
      z-index: 1;
      left: -300px;
      transition: all 1s;
    }
  
    .menuBurguer {
      visibility: visible;
      position: absolute;
      align-items: flex-start;
      margin-top: 0px;
      top: 10px;
      z-index: 2;
    }
  
    .montserratBold {
      display: flex;
      flex-direction: column;
    }
  
    .montserratBold > h1 {
      margin-top: 60px;
    }
  
    .liMenu {
      padding: 10px 90px;
      margin-top: 20px;
      cursor: pointer;
    }
  
    .portfolio {
      font-size: 1.5rem;
    }
  
    input[type="checkbox"]:checked ~ .itensCel {
      transform: translateX(300px);
      -moz-transform: translate(300px);
      transition-delay: 0.5;
    }
  }

