* {
  margin: 0;
  padding: 0;
}

body {
  background: #000;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

.montserratBold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.montserratBlack {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

.portfolio {
  font-size: 35px;
}

.liMenu {
  font-size: 20px;
  padding: 10px;
}

.liMenu .hrMenu {
  width: 0px;
  height: 4px;
  border: none;

  background: #FAFF00;
  border-radius: 10px;
  transition: width 1s;

}

.liMenu:hover .hrMenu {
  width: 80%;
}

.titMenu #hrPort {
  width: 80%;
  height: 4px;
  border: none;

  background: #FAFF00;
  border-radius: 10px;
  transition: width 1s;
}

.titMenu:hover #hrPort {
  width: 100%;
}

.menuBurguer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  cursor: pointer;
  transition: 9s;
}

.menuBurguer:hover > .burguer {
  background: #FAFF00;
}

.menuBurguer:hover > .minorBurguer {
  background: #FAFF00;
}

.burguer {
  width: 52px;
  height: 4px;
  margin: 5px;

  background: #FFFFFF;
  border-radius: 10px;
  border: none;
}

.minorBurguer {
  width: 39px;
  height: 4px;
  margin: 5px;

  background: #FFFFFF;
  border-radius: 10px;
  border: none;
}

.mainSection {
  display: grid;
  grid-template-areas: "leftAside rightAside";
}

.leftAside {
  grid-area: "leftAside";
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  margin-top: 160px;
}

.verticalRow {
  grid-area: verticalRow;
  height: 100px;
  width: 4px;
  border-radius: 10px;
  background: #FAFF00; 
}

.btnContact {
width: 180px;
height: 42px;
background: #000;
border-radius: 10px;
color: #fff;
border-color: #FAFF00;
cursor: pointer;
}

.leftAside > h1 {
  margin-top: -110px;
  margin-left: 10px;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 4rem;
}

.leftAside > h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  margin-left: 10px;
}

.btnContact {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: 10px;
  margin-left: 30px;
}

body {
/* The image used */
background-image: url("/images/lionFace.png");

/* Center and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 250px;
background-position: 450px;
}

.rightAside {
  grid-area: "rightAside";
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
  margin-left: -500px;
}

.rightAside > h1 > span {
  font-weight: 700;
  font-size: 3rem;
}

.rightAside > h1 {
  font-weight: lighter;
  font-size: 2rem;
}

.twooRow {
  display: flex;
}

.twooRow > .yellowHr {
  border: none;
  width: 60px;
  height: 4px;

  background: #FAFF00;
  border-radius: 5px;
}

.twooRow > .blackHr {
  border: none;
  width: 180px;
  height: 4px;

  background: #313131;
  border-radius: 5px;
}

.rightAside > h2 {
  margin-right: 80px;
}

.rodape {
  display: flex;
  margin-left: 300px;
  margin-top: 100px;
  width: 770px;
  height: 28vh;

  background: rgba(255, 255, 255, 0.15);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.social {
  display: flex;
}

.midias {
  font-size: 12px;
  margin-top: 14px;
  margin-left: 5px;
}

.socialTxt {
  margin-top: 8px;
  margin-left: 20px;
}

.twitter {
  margin-left: 20px;
}

.rightP {
  margin-left: 25px;
  margin-right: 5px;
  text-align: justify;
}

.leftTitle {
  margin-top: 32px;
  margin-left: 15px;
}

.leftP {
  margin-left: 20px;
  text-align: justify;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
}